<p>fundamentos works!</p>

<hr>

<section>
    <h2>Propiedades e interpolación</h2>

    <!-- Características que vienen de la lógica -->
    <!-- Las PROPIEDADES son variables dentro de un componente y pueden ser de cualquier tipo de datos -->
    <!-- La INTERPOLACIÓN permite usar propiedades dentro de HTML -->
    <p>Estoy utilizando el framwork {{nombreFramework}} con vase en {{nombreLenguaje}}</p>
    <p>{{anio}}</p>
    <p>En tu carrito tienes {{carrito.length}} elementos</p>
</section>
<hr>
<section>

    <h2>Directivas</h2>
    <p>Características que permiten manipular el DOM</p>
    <h2>Control de flujo</h2>
    <h3>Condicionales y Ciclos</h3>

    @if(isLogged){
    <p>Holaaaa, estás loggeado</p>
    }@else {
    <p>Inicie sesion</p>
    }

    <p>Productos en el carro</p>
    <ul>
        @for(producto of carrito; track $index ){
        <li>{{producto}}</li>
        }
    </ul>

    <ol>
        @for(framework of frameworks; track framework.id){
        <li>{{framework.nombre}}</li>
        }
    </ol>

    <!-- con *ngFor -->
    <!-- <ul>
        <li *ngFor="let producto of carrito; let i = index">
          {{ producto }}
        </li>
      </ul> -->

</section>

<hr>
<section>
    <h2>Enlace de atributos (atributos de la clase)</h2>
    <p>
        Necesita mostrar HTML de forma condicional, puedo enlazar a un atributo, una propiedad de la clase, y generar un comportamiento
    </p>


    <button type="button" [disabled]="!isLogged">Cerrar sesión</button>
</section>

<hr>

<section>
    <h2>Manejo de eventos</h2>
    <button type="button" (click)="manejarClick()">Click me</button>
    <br>
    <br>
    <!-- Puedo manejar varios eventos al tiempo -->
    <div class="caja" (mouseover)="manejarMouseover()" (mousedown)="manejarMouseDowwn()" (mouseup)="manejarMouseUp()"> </div>

    <!-- interpolacion con manejo de eventos -->
    <div class="caja {{colorFondo}}" (mousedown)="manejarColor()" (mouseup)="manejarColor2()"> </div>
</section>

<hr>

<section>
    <h2>Pasando datos</h2>
    <app-padre></app-padre>
</section>